

@font-face {
    font-family: PokemonFontHollow;
    src: url('./font/Pokemon\ Hollow.ttf');
}
  
@font-face {
    font-family: PokemonFontSolid;
    src: url('./font/Pokemon\ Solid.ttf');
}



.Pokemons {
    gap: 2rem;
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    background: rgba(0, 92, 128, 0.749);
    background-size: 100%;
    background-position: center;
    grid-template-columns: repeat(1,300px);

}


.poke-header {
    color: white;
    text-decoration:5px solid white underline;
    font-family: PokemonFontHollow;
    letter-spacing: 0.5rem;
    background: rgba(0, 92, 128, 0.574);
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;

}

.poke-left,.poke-right {
    position: fixed;
    top: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    background: transparent;
    border: 2px solid white;
    font-family: PokemonFontHollow;
}
.poke-left {
    left: 5%;

}
.poke-right {
    left: 70%;
}


.individual-pokemon {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.individual-pokemon img {
    width: 100%;
    background: rgba(0, 0, 0, 0.804);

}
.individual-pokemon .description {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    background: #792F4F;


}

.individual-pokemon .description div  {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
}


.individual-pokemon .description span {
    font-family: PokemonFontHollow;

}

.individual-pokemon .description p {
    color: red;
    margin-top: 1rem;
    font-family: PokemonFontSolid;
}

.individual-pokemon .description ul {
    margin-top: 1rem;
}

.individual-pokemon .description ul li {
    margin-top: 1rem;
}


.individual-pokemon .description span {
    color: white;
}
.individual-pokemon .description ul{
    list-style: none;
    padding: none;
    margin: none;
    color: red;
}


.poke-link {
    position: fixed;
    left: 40px;
    bottom: 25px;
    width: 90px;
    height: 90px;
    background: url(../../images/pokedex.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: rgba(128, 18, 18, 0.262);


}


@media (min-width: 700px) {
    .Pokemons {
        grid-template-columns: repeat(2,350px);
    }
    .poke-left .poke-right {
        font-size: 2rem;
    }
    .poke-right {
        left: 80%;
    }
    
}
@media (min-width: 1200px) {
    .Pokemons {
        grid-template-columns: repeat(3,350px);
    }
    .poke-right {
        left: 90%;
    }
    .poke-left,.poke-right {
        font-size: 2rem;
        padding: 2rem;
    }
    
}
@media (min-width: 1500px) {
    .Pokemons {
        grid-template-columns: repeat(4,350px);
    }
}